---
- name: Waiting for Dynatrace problems
  hosts: all

  sources:
    - name: Dynatrace source
      dynatrace.event_driven_ansible.dt_esa_api:
        dt_api_host: {{ dynatrace_instance_host }}
        dt_api_token: {{ dynatrace_eda_token }}
        delay: 60

  rules:
    - name: Remediate Watches-eShop application
      condition: event.title == "Watches-eShop Error" and event.status == "OPEN"
      action:
        run_job_template:
          name: "[JT] Remediate Watches-eShop application"
          organization: "Default"


